/*everyone's individual game page css will go here, 
although make sure to like, organise it and stuff*\

\*all pages*/
.rootcontainer {
   background-color: rgb(24, 24, 2);
   margin: 2px auto auto auto;
   border-radius: 16px;
   text-align: center;
   padding: 2px;
   color: rgb(190, 190, 190);
   width: 80%;
   font-family: Lato;
   font-size: 25px;
   border-color: black;
   
}
.rootcontainer .img_title {
   display: flex;
   padding-bottom: 100px;
   justify-content: center;
   gap: 5%;
   align-items: center;
   margin: 20px auto;
   width: 90%;
   
}

.rootcarousel{
    width: 150%;
    height: 150%;
}

.img_title .title {
    background-color: rgb(24, 24, 122);
    width: 60%;
    font-size: 130%;
}