/*game list*/
.gamelist div {
background-color:rgb(0, 18, 59);
padding: 20px;
border: 2px solid rgb(49, 49, 214);
border-radius: 8px;
text-align: left;
gap: 30px;
margin: 30px auto 30px auto;
width: 1000px;
transition: 0.2s;
color: white;
text-decoration: none;
}
.gamelist div:hover {
   transform: translateY(-5px);
}
.gamelist p {
   color: rgb(0, 18, 59);
   text-decoration: none;
   text-align: right;
}
.gamelist div:hover p {
   color: white;
}
.gamelist a {
   text-decoration: none;
}
