.logo {
   margin-right: auto;
   vertical-align: top;
   line-height: 0px;
}
.logo img {
   width: 100px;
}
body {
   background-color: rgb(12, 45, 74);
   margin: 0px;
}
header {
   width: 100%;
   position: static;
   background-color: rgb(0, 18, 59);
   display: flex;
   flex-direction: column;
   align-items: end;
   padding: 10px;
}
/*nav bar*/
nav {
   display: flex;
   gap: 10px;
   background-color: rgb(24, 24, 122);
   width: 100%;
   margin-top: 30px;
}
nav a {
   color: white;
   text-decoration: none;
   padding: 10px 20px;
   font-family: Poppins;
}
nav a:hover {
   text-decoration: underline;
}
nav strong {
   font-size: 20px;
}
.logo strong {
   font-size: 55px;
   font-family: 'Orbitron';
   color: aliceblue;
   /*color: rgb(0, 77, 141);*/
}
footer {
   text-align: center;
   background-color: rgb(24, 24, 122);
   margin-top: 70px;
}
h2 {
   text-align: center;
   color: white;
}

/*root class of all main ui*
.mainui {
   display: flex;
   flex-direction: column;
   align-items: center;
}*/
/*about page*/
.about {
   background-color: rgb(31, 37, 159);
   margin: 40px auto auto auto;
   border-radius: 8px;
   text-align: center;
   padding: 10px;
   color: rgb(190, 190, 190);
   width: 80%;
   font-family: Lato;
   font-size: 100%;
}
.about p {
   width: 90%;
   padding-left: calc((100% - 90%)/2);
}
.about .devstitle {
   font-size: 35px;
   font-family: 'Orbitron';
   text-align: left;
   position: unset;
}
/*main game buttons*/
.bundle {
   display: flex;
   justify-content: center;
   gap: 100px;
   align-items: center;
   margin: 20px auto;
   width: 1000px;
}
   
/* card for each game*/
.gamecard {
  background-color: rgb(7, 7, 80);
  border: 2px solid rgb(49, 49, 214);
  border-radius: 8px;
  text-align: center;
  width: 250px;
  transition: 0.2s;
  font-family: Lato;
  text-decoration: none;
} 
.gamecard:hover {
   transform: translateY(-5px);
}
.gamecard p {
   color: white;
   /*font-family: ; */
}
.gamecard a {
   text-decoration: none;
}
/*header icons*/
nav span {
   color :aliceblue;
   background-color: rgb(24, 24, 122)
}