.rootcarousel {
  aspect-ratio: 4/3;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

/* Hide Radio Inputs */
input[type="radio"] {
  display: none;
}

/*put slides ontop of eachother*/
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  
  /*critical properties*/
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*(uses css if statements) how active image*\
\*must be ids instead of classes due to identification*/
#slide1:checked ~ .slide1,
#slide2:checked ~ .slide2,
#slide3:checked ~ .slide3,
#slide4:checked ~ .slide4 {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

/*non critical styling*/
.rootbtn {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.btn{
  display: inline-block;
  margin: 0 5px;
  user-select: none;
  cursor: pointer;

  padding: 20px;
  background: rgb(132, 132, 132);
}

.btn:hover{
  background: rgb(255, 255, 255);
}   